<div class="container">
  <h1>Shul List Application</h1>

  <div class="card">
    <div class="card-header">

      <div class="text-center">

        <img src="./assets/images/icons/favicon.png" class="rounded-circle" aalt="shullist">

      </div>


    </div>
    <div class="card-body">
      <h5 class="card-title">Menu:</h5>
      <div class="row text-center">
        <div class="col-4">
          <a routerLink="/register" routerLinkActive="active" type="button" class="btn btn-default">Register Shul</a>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-default">Login</button>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-default">Exit</button>
        </div>
      </div>
    </div>
  </div>


